<!--ngOnInit Examples--> 
      <!-- <h2>OnInit Hook</h2>
      <p>Message : {{message}}</p> -->


<!--ngDoCheck Exapmles-->

      <!-- <h2>ngDoCheck Hook</h2>
      <input type="text" name="title" [(ngModel)]="title"> -->


<!--ngAfterContentInit-->      

<!-- <h1>ngAfterContentInit Hook</h1>
<app-simple-message>
   <p #messgaeContent>Hello Angular</p>
   <p #messgaeContent>This is a simple example</p>
</app-simple-message> -->




<!-- <h2>ngAfterViewInit Hook</h2> -->




<h1>ngOnDestroy</h1>
@if(showHello){
  <app-hello></app-hello>
}


<input type="checkbox" [(ngModel)]="showHello">
