<!-- <p>unformatted deate: {{toDate}}</p>
<p>formatted deate: {{toDate|date}}</p>
<p>medium date: {{toDate|date:'medium'}}</p>
<p>short date : {{toDate|date:'short'}}</p>
<p>Full date : {{toDate|date:'fullDate'}}</p>
<p>Long date : {{toDate|date:'longDate'}}</p> -->

<!-- <p>getting hello :{{title|slice:0:7}}</p>
<h2>Item List</h2>
<ul>
  <li *ngFor="let item of items|slice:0:3">
    {{item}}
  </li>
</ul> -->

<!-- <p>{{title|uppercase}}</p>
<p>{{title|lowercase}}</p> -->

<p>Price without formatting: {{price}}</p>
<p>Price with formatting: {{price|currency:'INR'}}</p>
<p>Price with formatting: {{price|currency}}</p>
